<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css_admin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css_admin_add.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='js_admin_add.js') }}">
</head>

<body>

  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/admin">Return search</a>
    <a href="/admin/add">Add recipe</a>
  </div>
    
</body>

<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Search recipe">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>

</html>