<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css_admin.css') }}">
  </head>
 <body>
 
   <div class="topnav">
     <a class="active" href="/">Home</a>
     <a href="/admin">Return search</a>
     <a href="/admin/add">Add recipe</a>
   </div>
     
 </body>

 <body>
<center>
    <br>
    <br>
    <br>
    <form method = "get">
       Nom de la recette
       <br>
       <textarea rows = "1" cols = "60" name = "name"></textarea><br>
    </form>
    <br>
    <br>
    <form method = "get">
       Ingrédients
       <br>
       <textarea rows = "5" cols = "60" name = "ingredients"></textarea><br>
    </form>
    <br>
    <br>
    <form method = "get">
       Tags
       <br>
       <textarea rows = "5" cols = "60" name = "tags"></textarea><br>
    </form>
    <br>
    <br>
    <form method = "get">
       Temps de préparation
       <br>
       <textarea rows = "1" cols = "60" name = "cooking_time"></textarea><br>
    </form>
    <br>
    <br>
    <form method = "get">
       Courte description
       <br>
       <textarea rows = "10" cols = "60" name = "short_description"></textarea><br>
    </form>
    <br>
    <br>
    <form method = "get">
       Description longue
       <br>
       <textarea rows = "20" cols = "60" name = "description"></textarea><br>
       <br>
    </form>
    <input type = "submit" value = "submit" />
    
 </body>

</center>


</html>