<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - CuliVert</title>
    <link rel="stylesheet" href="login.scss">
</head>

<body>
    <header>
        <p>Future navigation bar</p>
    </header>
    <div class="card">
        <h1 class="card_title">Connexion</h1>
        {% for message in messages %}
        <div class="message {% if message.is_error %} error {% endif %}">
            <p>{{message.content}}</p>
        </div>
        {% endfor %}
        <form method="post">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Se connecter">
        </form>
        <a {{ "href='{}'".format(url_for('views.accounts.register')) }}>Pas encore inscrit ?</a>
    </div>
</body>

</html>