@use "_constants";
@import "../node_modules/normalize-css/normalize.css";

@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}


html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--var--color-background);
    font-family: sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

header {
    border: #000 1px solid;
    padding: 4px 12px;
    margin-bottom: 16px;
    width: 100%;
}

.card {
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    width: 100%;
    max-width: 480px;

    @media screen and (max-width: 600px) {
        margin: 10vh 10px 10px 10px;
        max-width: unset;
        width: unset;
        padding: 24px;
    }

    .card_title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 32px;
    }

    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    width: 100%;
}

input {
    width: 100%;

    border-radius: 8px;
    border: #000 1px solid;

    padding: 4px 16px;
    margin-bottom: 8px;
}

input[type=text],
input[type=password],
input[type=file] {
    width: calc(100% - 32px);
}

input[type=submit] {
    font-weight: 600;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    margin-top: 16px;

    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

label {
    width: 100%;
    text-align: start;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.message {
    display: inline;
    border-radius: 8px;
    border: rgb(57, 85, 145) 2px solid;
    background-color: rgb(141, 178, 228);
    padding: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    text-align: center;
}

.message.error {
    border: rgb(145, 57, 57) 2px solid;
    background-color: rgb(228, 141, 141);
}
