<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - CuliVert</title>
    <link rel="stylesheet" href="login.scss">
</head>

<body>
    <nav>
        <a class="logo" href="/home">CuliVert</h1>
        <a class="tab" href="/search_ingredients?search=&page=1">Ingrédients</a>
        <a class="tab" href="/search_recipes?search=&page=1">Recettes</a>
        <a class="currenttab" href="/accounts/me">Mon compte</a>
        <a class="tab" href="/editor">+ publier</a>
    </nav>
    <div class="card">
        <h1 class="card_title">Connexion</h1>
        {% for message in messages %}
        {% if message.is_error %}
        <div class="message error">
        {% else %}
        <div class="message">
        {% endif %}
            <p>{{message.content}}</p>
        </div>
        {% endfor %}
        <form method="post">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">
            <input type="submit" name="login" value="Se connecter">
        </form>
        <a {{'href="{}"'.format(url_for('views.accounts.register'))|safe}}>Pas encore inscrit ?</a>
    </div>
</body>

</html>