@use "_constants";

@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}


html,
body,
.root {
    margin: 0;
    padding: 0;
    background-color: var(--var--color-background);
    font-family: sans-serif;
    font-size: 16px;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100vh;
}

// Navbar
// The navbar is not expected to work there, it is just for testing
// and experimentation purposes.
nav {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 2em;
    margin-left: 15.5%;
    width: 70%;
}

.structure{
    margin-top: 2em;
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
    margin-left: 15%;
}
main {
    display: flex;
    justify-content: center;

    .column {
        width: 100%;
        @media (min-width: 1200px) {
            max-width: 1000px;
            border-radius: 2em 2em;
            overflow: hidden;
            margin: 2em;
            box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.4)
        }

        background-color: oklch(95% 0.025 80.47);
    }

    .header {
        background-size: cover;
        background-position: center;

        min-height: 8em;
        height: 350px;

        @media (orientation: portrait) {
            height: 200px;
        }

        position: relative;
        padding: 0;
        box-shadow: inset 0em 0em 2em rgba($color: #000000, $alpha: 0.4);
    }

    .header .title {
        position: absolute;
        bottom: 0;
        left: 0;
        color: azure;
        background: linear-gradient(rgba(0, 0, 0, 0.0), 40%, rgba(0, 0, 0, 1));
        width: 100%;
        padding-bottom: 10px;
    }

    .header .action-bar {
        position: absolute;
        top: 16px;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-end;
        gap: 4px;
        padding-right: 16px;
    }

    .header .action-bar button {
        background: rgba($color: #000000, $alpha: 0.4);
        border: #fff 2px solid;
        border-radius: 4px;
        color: #fff;
        padding: 4px 8px;
        font-weight: 500;
        font-size: 12px;
        transition: background 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
    }

    .header .action-bar button:hover {
        background: rgba($color: #000000, $alpha: 0.6);
        cursor: pointer;
    }

    .header h1 {
        padding-top: 0.8em;
        margin: 10px 30px;
        user-select: all;
        text-indent: 0px;
        font-size: 32px;

        @media (orientation: portrait) {
            font-size: 28px;
            margin: 5px 10px;
        }
    }

    .header .specs {
        display: block;
        overflow: scroll;
    }

    .header .specs p {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 5px 30px;
        gap: 10px;

        flex-wrap: nowrap;
        width: max-content;

        @media (orientation: portrait) {
            margin: 2px 10px;
        }
    }

    .header .specs p span {
        font-weight: 600;
        font-family: sans-serif;
        color: #fff;
        border-radius: 99999px;

        border: #fff 2px solid;
        font-size: 12px;
        padding: 2px 8px;

        @media(orientation: portrait) {
            font-size: 12px;
            padding: 2px 10px;
        }


        transition-property: color,
        background-color,
        border-color,
        text-decoration-color,
        fill,
        stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;
    }

    .header .specs span:hover {
        background-color: #fff;
        color: #111;
        cursor: default;
        user-select: none;
    }

    section {
        margin: 2em 2em;

        @media (orientation: portrait) {
            margin: 1em;
        }

        h2 {
            display: flex;
            flex-direction: row;
            align-items: center;

            font-size: 24px;

            @media (orientation: portrait) {
                font-size: 24px;
            }
        }

        h2 .comment {
            font-size: 0.7em;
            font-weight: 400;
            font-family: sans-serif;
            color: #111;
            margin: 0;
            padding: 0;
            margin-left: 0.5em;
        }
    }

    hr {
        margin-top: 48px;
        margin-bottom: 36px;
        width: 75%;
        color: oklch(72.34% 0.0485 80.47);
        border-radius: 9999px;
        border: 2px solid;

        @media (orientation: portrait) {
            margin-top: 36px;
            margin-bottom: 24px;
            border: 1.5px solid;
        }
    }

    .ingredients {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        margin-top: 10px;
        padding: 0;
        gap: 10px;

        @media (orientation: portrait) {
            font-size: 14px;
            gap: 8px;
        }
    }

    .ingredients p {
        margin: 0;
        padding: 0;
        border-radius: 99999px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;

        box-shadow: 0em 0.1em 0.2em rgba(0, 0, 0, 0.4);

        span {
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 200ms;
        }
    }

    .ingredients span.quantity {
        background-color: rgb(238, 235, 49);
        padding: 0.5em 1em 0.5em 0.5em;
    }

    .ingredients p:hover span.quantity {
        background-color: rgba(182, 180, 44, 0.815)
    }

    .ingredients span.quantity.bad {
        background-color: rgb(250, 82, 70);
    }

    .ingredients p:hover span.quantity.bad {
        background-color: rgb(202, 51, 40);
    }

    .ingredients span.quantity.good {
        background-color: rgb(91, 250, 70);
    }

    .ingredients p:hover span.quantity.good {
        background-color: rgb(75, 201, 37);
    }

    .ingredients span.name {
        padding: 0.5em 0.5em 0.5em 1em;
    }

    .ingredients p:hover span.name {
        background-color: #ddd;
    }

    .carbon_impact {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 16px;
        width: 100%;
    }

    .carbon_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 16px;
        padding: 24px;
        box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.4);
        background-color: #fff;

        @media (orientation: portrait) {
            padding: 16px;
        }

        h4 {
            padding: 0;
            margin: 0;
            font-size: 18px;

            @media (orientation: portrait) {
                font-size: 20px;
            }
        }

        p {
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }

    .score_card {
        span.score {
            font-size: 64px;
            font-weight: 600;
            color: oklch(71.48% 0.1617 63.85);

            @media (orientation: portrait) {
                font-size: 64px;
            }
        }

        span.score .score_unit {
            font-size: 0.5em;
        }

        span.unit {
            @media (orientation: portrait) {
                font-size: 14px;
            }
        }
    }

    .ingredient_card {
        h4 {
            padding-bottom: 8px;
        }

        .ingredient_info {
            width: 100%;
        }

        .label {
            text-align: left;
            font-weight: 500;
            font-size: 14px;
            padding-bottom: 2px;
        }

        .bar {
            background-color: oklch(87.18% 0.0583 63.85);
            width: 100%;
            border-radius: 9999px;
            overflow: hidden;
            margin-bottom: 4px;
        }

        .bar_indicator {
            background-color: oklch(71.48% 0.1617 63.85);
            padding: 4px 4px;
            text-align: right;
            font-weight: 500;
            overflow: visible;
            white-space: nowrap;

            @media (orientation: portrait) {
                font-size: 14px;
            }
        }
    }

    section .mk_render {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding: 0;
            margin: 16px 0;
            font-weight: 700;
        }

        h1 {
            font-size: 1.4rem;
        }

        h2 {
            font-size: 1.2rem;

            @media (orientation: portrait) {
                font-size: 1.2rem;
            }
        }

        h3 {
            font-size: 1.1rem;

            @media (orientation: portrait) {
                font-size: 1.1rem;
            }
        }

        h4 {
            font-size: 1rem;

            @media (orientation: portrait) {
                font-size: 1rem;
            }
        }

        h5 {
            font-size: 1rem;
            font-weight: 500;

            @media (orientation: portrait) {
                font-size: 1rem;
            }
        }

        h6 {
            font-size: 1rem;
            font-weight: 500;

            @media (orientation: portrait) {
                font-size: 1rem;
            }
        }

        p,
        li {
            font-size: 1rem;
            font-weight: 400;

            @media (orientation: portrait) {
                font-size: 1rem;
            }
        }

        hr {
            border-width: 1px;
        }
    }

    
}

section #author_card {
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.4);
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 600px) {
        padding: 16px;
    }

    h2 {
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
        font-size: 20px;

        @media (orientation: portrait) {
            font-size: 20px;
        }
    
    }
}

.author_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}

.author_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 0;

    border-right: oklch(72.34% 0.0485 80.47) solid 2px;
    padding-right: 24px;

    @media screen and (max-width: 600px) {
        padding-right: 0;
        border-right: none;
    }

    p,a {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    p.display_name {
        font-size: 20px;
        font-weight: 600;
        font-family: sans-serif;
        color: #111;
    }

    a.username, a.username:visited {
        font-size: 16px;
        font-weight: 400;
        font-family: sans-serif;
        color: hsl(22, 50%, 36%);
        transition: color 200ms ease-in-out;
    }

    a.username:hover {
        color: hsl(22, 50%, 25%);
    }
}

.author_avatar {
    border-radius: 99999px;
    width: 152px;
    height: 152px;
    object-fit: cover;
    margin-bottom: 8px;

    box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4);
}

.author_description {
    text-align: justify;
    font-size: 16px;
    padding-left: 24px;
    color: #222;
    font-weight: 400;

    @media screen and (max-width: 600px) {
        padding-left: 0;
    }
}