<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription - CuliVert</title>
    <link rel="stylesheet" href="login.scss">
</head>

<body>
    <header>
        <p>Future navigation bar</p>
    </header>
    <div class="card">
        <h1 class="card_title">Inscription</h1>
        {% for message in messages %}
        {% if message.is_error %}
        <div class="message error">
        {% else %}
        <div class="message">
        {% endif %}
            <p>{{message.content}}</p>
        </div>
        {% endfor %}
        <form method="post">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">
            <label for="password_repeat">Confirmation de mot de passe</label>
            <input type="password" name="password_repeat" id="password_repeat">
            <input type="submit" name="register" value="S'inscrire">
        </form>
        <a {{ 'href="{}"'.format(url_for('views.accounts.login'))|safe }}>Déjà inscrit ?</a>
    </div>
</body>

</html>