<html>
    <title>CuliVert</title>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
    </head>
    <body>
        <section class="structure">
            <nav>
                <a class="logo" href="/home">CuliVert</h1>
                <a class="tab" href="/search_ingredients?search=&page=1">Ingrédients</a>
                <a class="tab" href="/search_recipes?search=&page=1">Recettes</a>
                <a class="currenttab" href="/account">Compte</a>
            </nav>
            <main>
                <p class="noresult">WiP</p>
                <div class="case">
                    {{username}}
                </div>
            </main>
        </section>
    </body>
</html>
