.structure{
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
}

.logo{
    display: flex;
    border-radius: 10px;
    height: 10vh;
    align-content: center;
    background-color: #fff;
    font-family:'Franklin Gothic Medium';
    font-size: 32px;
    color: #2d9465;
    padding-right: 1em;
    padding-left: 1em;
}
.logo:link{
    color: #2d9465;
    text-decoration: none;
}
.logo:visited{
    color: #2d9465;
    text-decoration: none;
}
.logo:active{
    color: #2d9465;
    text-decoration: none;
}

body {
    background-color: #f5efdf;
}
.case{
    align-self: center;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 1em;
    padding-top: 3em;
    color: #4b3a24;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}
.tab {
    background-color: #fff;
    height: 10vh;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    color: #4b3a24;
    text-decoration: none;
}
.current {
    background-color: #a39687;
    color: #eee7de;
}
.about{
    color: #4b3a24;
}