<html>
    <title>CuliVert</title>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
    </head>
    <body>
        <section class="structure">
            <nav>
                <a class="logo" href="/home">CuliVert</h1>
                <a class="tab" href="/search_ingredients?search=">Ingrédients</a>
                <a class="tab" href="/search_recipes?search=">Recettes</a>
            </nav>
            <main>
                <section class="case">
                    <p class="description">
                        Essayez de rechercher un produit pour vérifier son empreinte carbone :
                    </p>
                    <form class="search_ingredients" action="/search_ingredients" method="GET">
                        <input type="text" placeholder="recherchez un produit..." name="search" required>
                        <input type="submit" value="rechercher">
                    </form>
                </section>
                <h1 class="header">
                    À propos :
                </h1>
                <p class="about">
                    CuliVert est une initiative étudiante dont le but est 
                    d’accompagner les consommateurs dans la transition écologique.
                </p>
                <p class="about">

                </p>
                <p class="about">
                    Notre démarche s’inscrit parmi les 17 objectifs de développement durable 
                    adoptés en 2015 lors de l’assemblée générale des Nations-Unies pour l'horizon 2030.
                    Précisément, CuliVert participe à l'objectif "consommation et production responsable"
                    en appelant les consommateurs à réfléchir sur leurs habitudes alimentaires.
                </p>
            </main>
        </section>
    </body>
</html>