<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/index.ce1d6491.css">
</head>

<body>
  <main>
    <div class="quickmenu">
      <div class="heading">
        <h1>Quick Menu</h1>
      </div>
      <div class="links">
        <a href="/templates/index.html">Homepage (TODO)</a>
        <a href="/templates/recipe-demo.html">Recipe Demo</a>
        <a href="/templates/recipe.html">Recipe Template</a>
        <a href="/templates/login-demo.html">Login Demo</a>
        <a href="/templates/login.html">Login Template</a>
        <a href="/templates/register-demo.html">Register Demo</a>
        <a href="/templates/register.html">Register Template</a>
        <a href="/templates/me-demo.html">My Profile Demo</a>
        <a href="/templates/me.html">My Profile Template</a>
      </div>
    </div>
  </main>
  <script src="/static/index.b71e74eb.js" defer=""></script>
</body>

</html>