<html>
    <title>CuliVert</title>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
    </head>
    <body>
        <section class="structure">
            <nav>
                <a class="logo" href="/home">CuliVert</h1>
                <a class="tab" href="/search_ingredients?search={{search}}">Ingrédients</a>
                <a class="currenttab" href="/recipes">Recettes</a>
            </nav>
            <main>
                <p>WiP</p>
            </main>
        </section>
    </body>
</html>