.structure{
    margin-top: 2em;
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    align-items: stretch;
}
input::placeholder{
    color: #c9b9a6;
}
input[type=submit]{
    color: #fff;
    background-color: #db8e33;
    font-size: 30px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    padding: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.4em;
}
input[type=submit]:active{
    background-color: #815217;
}
input[type=text]{
    margin-bottom: 5px;
    font-size: 30px;
    height: 1.5em;
    min-width: 60%;
    max-width: 100%;
    color: #db8e33;
    padding: 0.8em;
    border-radius: 10px;
    border-color: #4b3a24;
}

.logo{
    margin-right: 0.5em;
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    font-family:'Franklin Gothic Medium';
    font-size: 3em;
    color: #2d9465;
    padding-right: 1em;
    padding-left: 1em;
    height: 100%;
    box-shadow: 0px 5px 10px #b09066;
    align-items: center;

}
.logo:link{
    color: #2d9465;
    text-decoration: none;
}
.logo:visited{
    color: #2d9465;
    text-decoration: none;
}
.logo:active{
    color: #2d9465;
    text-decoration: none;
}

body {
    background-color: #f5efdf;
}
.case{
    min-width: 450px;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 2em;
    padding-top: 3em;
    color: #685a49;
    box-shadow: 0px 5px 10px #b09066;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 3em;
    height: 70px;
}

.tab {
    display: flex;
    background-color: #fff;
    height: 100%;
    font-size: 1.5em;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    color: #4b3a24;
    text-decoration: none;
    box-shadow: 0px 5px 10px #b09066;
    margin-right: 5px;
    align-items: center;
}
.tab:active{
    display: flex;
    background-color: #dcd2c8;
    height: 100%;
    font-size: 1.5em;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    color: #4b3a24;
    text-decoration: none;
    box-shadow: none;
    margin-right: 5px;
    align-items: center;
}
.currenttab {
    display: flex;
    background-color: #a39687;
    height: 100%;
    font-size: 1.5em;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    color: #eee7de;
    text-decoration: none;
    box-shadow: none;
    margin-right: 5px;
    align-items: center;

}
.noresult {
    font-size: 3em;
    color: #907553;
    text-align: center;
}
p {
    color: #4b3a24;
    font-size: 1em;
}
.header {
    font-size: 3em;
    color: #4b3a24;
}
tr {
    width: 100%;
    font-size: 2em;
    display: flex;
    border-radius: 9999px;
    padding-left: 1em;
    padding-right: 1em;
    color: #685a49;
    border-color: #b09066;
    box-shadow: 0px 5px 10px #b09066;
    margin-bottom: 1em;
}